<div class="container my-4">
    <?php foreach($peticiones as $peticion){ ?>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <img src="<?= $peticion['Imagen'] ?>" alt="" class="card-img-top">
                    <div class="card-header">
                        <div class="card-title">
                            <h4 class="text-center"><?= $peticion['Titulo'] ?></h4>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <?php if($peticion["Estado"] == 0){ ?>
                        <p>
                            <b>Descripción:</b> <span class="text-muted"><?= $peticion['Contenido'] ?></span>
                        </p>
                        <p>
                            <b>Solicitante:</b> <a href="/auth/profile/view/<?= $peticion['id_solicitante'] ?>"><span class="text-muted"><?= $peticion['Solicitante'] ?></span></a>
                        </p>
                        <p>
                            <button class="btn btn-success form-control" onclick="Aprovar(<?= $peticion['id'] ?>)">Aprobar</button><br><br>
                            <button class="btn btn-danger form-control" onclick="Denegar(<?= $peticion['id'] ?>)">Denegar</button>
                        </p>
                        <?php }else{ ?>
                        <p>
                            <b>Nombre:</b> <?= $peticion["Nombre"] ?> <?= $peticion["Apellido"] ?>
                        </p>
                        <p>
                            <b>Correo:</b> <?= $peticion["Correo"] ?>
                        </p>
                        <p>
                            <b>Telefono:</b> <?= $peticion["Telefono"] ?>
                        </p>
                        <p>
                            Esta es la informacion del usuario solicitante, puede comunicarse con el de la forma que usted quiera.
                        </p>
                        <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    <?php } ?>
</div>
<script src="/public/js/auth.applicants.js"></script>